$infraColor: #2B2AA7;
$apmColor: #14D071;
$logColor: #FF635A;
$datadogPurple: #724EEF;
$airbnbColor: #FF5A5F;
$pelotonColor:  #000000;
$evernoteColor:  #292929;
$pagerdutyColor: #5DBD5F;
$samsungColor: #1428A0;
$wholefoodsColor: #000000;
$attColor: #00A8E0;
$nginxColor: #00AA4E;