@font-face {
    font-family: "National-Bold";
    src: url("../../static/fonts/national-test-semibold.woff") format('woff');
}

@font-face {
    font-family: "National";
    src: url("../../static/fonts/national-test-light.woff") format('woff');
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../../static/fonts/Roboto-Medium.ttf") format('truetype');
}