@font-face {
    font-family: "National-Bold";
    src: url("/fonts/national-test-semibold.woff") format('woff');
}

@font-face {
    font-family: "National";
    src: url("/fonts/national-test-light.woff") format('woff');
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("/fonts/Roboto-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto-Light";
    src: url("/fonts/Roboto-Light.ttf") format('truetype');
}