* {
    font-family: National, Roboto-Light, serif;
}

body {
	background-color: lightgrey; /* TEMP - REMOVE */
}

.container {
    background-color: white;
    max-width: 1400px;
}

.main-container {
    padding-top: 38px;
	padding-left:30px;
	padding-right: 60px;

	// TODO - Should only be done for large and above
	// @include media-breakpoint-up(md) {	
	// 	padding-right: 60px;
	// }
}