* {
    font-family: National, Roboto-Light, serif;
}

.container {
    background-color: white;
    max-width: 1400px;
}

.main-container {
    padding-top: 38px;
	padding-left:30px;

	// TODO - Should only be done for large and above
	@include media-breakpoint-up(lg) {	
		padding-right: 60px;
	}
}