.company-card {
	padding-bottom:15px;
	padding-left:15px;
	padding-bottom: 108px;

	.row2 {
		padding-left:15px;
	}
}



.company-square {
    max-width: 186px;
	max-height: 184px;
	width: 100%;
	height: 100%;
    text-align: center;
    display: flex;
	justify-content: center;
	
	img {
		align-self: center;
	}
}

.airbnb {
    background-color: $airbnbColor;
}

.peloton {
    background-color: $pelotonColor;
}

.evernote {
    background: $evernoteColor;
}

.evernote img {
    width: 70%;
}

.pagerduty {
    background-color: $pagerdutyColor;
}

.pagerduty img {
    width: 70%;
}

.samsung {
    background-color: $samsungColor;
}

.samsung img {
    width: 70%;
}

.wholefoods {
    background-color: $wholefoodsColor;
}

.wholefoods img {
    width: 70%;
}

.att {
    background-color: $attColor;
}

.att img {
    width: 70%;
}

.nginx {
    background-color: $nginxColor;
}

.nginx img {
    width: 70%;
}