.company-card {
	padding-bottom:15px;
	padding-left:15px;
	padding-bottom: 30px;

	@include media-breakpoint-up(xl) {
		padding-bottom: 108px;
	}
	
	.row2 {
		padding-left:15px;
	}
}

.company-square {
	width: 186px;
	height: 184px;
	
	// @include media-breakpoint-down(md) {
	// 	width: 80%;
	// }

    text-align: center;
    display: flex;
	justify-content: center;
	
	img {
		align-self: center;
	}
}

.company-top-grid {
	// @include media-breakpoint-up(lg) {
	// 	width: 100%;	
	// }
	// background-color:red;
	
}

.company-bottom-grid {
	padding-left:15px;

	@include media-breakpoint-down(sm) {
		justify-content: center;
		padding-left:0px;
	}
}

.quote {
	padding-left:30px;
	align-self: center;

	height: 100%;
	max-width: 376px;
	padding-top:50px;
	background-color: #F5F5F5;;

	p {
		font-family: National;
		font-size: 16px;
		line-height: 22px;
	}
	img {
		padding-bottom:43px;
	}
	h6 {
		font-size: 14px;
		line-height: 16px;
		margin-bottom:0px;
	}
	a {
		padding-top:30px;
		font-size: 18px;
		line-height: 18px;
		color: $datadogPurple;
	}
	.author {
		font-weight: 900;
	}
}

.company-quote-container {
	background-color:#F5F5F5;
	padding-left: 45px;
	padding-right: 45px;
	max-width: 557px;

	@include media-breakpoint-down(md) {
		margin-left: 15px;
    	padding-top: 30px;
	}
	
}


.airbnb {
    background-color: $airbnbColor;
}

.peloton {
    background-color: $pelotonColor;
}

.evernote {
    background: $evernoteColor;
}

.evernote img {
    width: 70%;
}

.pagerduty {
    background-color: $pagerdutyColor;
}

.pagerduty img {
    width: 70%;
}

.samsung {
    background-color: $samsungColor;
}

.samsung img {
    width: 60%;
}

.wholefoods {
    background-color: $wholefoodsColor;
}

.wholefoods img {
    width: 70%;
}

.att {
    background-color: $attColor;
}

.att img {
    width: 55%;
}

.nginx {
    background-color: $nginxColor;
}

.nginx img {
    width: 55%;
}