.apm {
    background-color: #14D071;
    max-width: 557px;
    padding-left: 0px;
    margin-left: 30px;
    margin-bottom: 30px;
    padding-right: 0px;
}

.feature-item {
	display: flex;
	flex-direction:column;
	padding-bottom: 30px;
}