.footer-container {
	background: linear-gradient(180deg, #443E48 0%, #110617 100%);
	margin-left: -15px;
	margin-right: -15px;
}

.footer {
    color: white;
	padding-top: 49px;
	padding-left: 195px;
	padding-right: 59px;

	@include media-breakpoint-down(md) {
		padding-left: 30px;
		padding-right: 30px;
	}

	button {
		border: 3px solid #979797;
		box-sizing: border-box;
		color: #979797;
		max-width: 166px;
		max-height: 51px;
		height: 100%;
		width: 100%;

		h4 {
			font-size: 18px;
			line-height: 22px;
			text-align: center;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #FFFFFF;
		}

		&:hover {
			color: #fff;
			background-color: #979797;
			border-color: #979797;
		}
	}
}

.terms-box {
	padding-top:88px;
	justify-content: center;
	h6 {
		font-size: 16px;
		line-height: 19px;
		text-transform: uppercase;
		color:white;
	}
}

.copyright {
	padding-top: 75px;

	@include media-breakpoint-down(md) {
		padding-top: 25px;
	}

	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #B6B6B6;
}