.observability {
    // display: flex;
    // flex-direction: column;
    background: #F5F5F5;
    // padding-left: 0px;
    // margin-left: 30px;
    // max-width: 557px;
	// margin-bottom: 30px;
	
	h6 {
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.342857px;
		text-transform: uppercase;
		margin-top: 30px;
		margin-left: 26px;
		color: $datadogColor;
	}

	p {
		font-size: 28px;
		line-height: 33px;
		padding-left: 24px;
	}

	a {
		text-decoration: underline;
		text-underline-position: under;
		font-size: 18px;
		line-height: 21px;
		padding-left: 24px;
		padding-bottom: 97px;
		color: $datadogColor;
	}

	// img {
	// 	padding-left: 25px;
    // 	padding-bottom: 27px;
	// }
}

.arrow {
    align-self: center;
}

// .first-image {
//     padding-right: 0px;
// }

// .second-image {
//     padding-left: 0px;
// }