.observability {
	background: #F5F5F5;
	
	@include media-breakpoint-down(lg) {
		margin-bottom:30px;
	}
	
	h6 {
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.342857px;
		text-transform: uppercase;
		margin-top: 30px;
		margin-left: 26px;
		color: $datadogPurple;
	}

	p {
		font-size: 28px;
		line-height: 33px;
		padding-left: 24px;
	}

	a {
		text-decoration: underline;
		text-underline-position: under;
		font-size: 18px;
		line-height: 21px;
		padding-left: 24px;
		padding-bottom: 97px;
		color: $datadogPurple;
	}
}

.arrow {
	align-self: center;
	padding-left:0px;
	padding-right:0px;
}

.carousel-inner {
	img {
		max-width:440px !important;
	}
}

.carousel {
	padding-left: 25px;
	@include media-breakpoint-down(md) {
		padding-right:25px;
	}
}