.price-card {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-left: 23px;
	padding-bottom: 26px;
	
	h6 {
		font-family: National-Bold;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.342857px;
		text-transform: uppercase;
		margin-bottom: 0px;
	}

	p {
		font-size: 16px;
		line-height: 19px;
		margin-top: 18px;
	}

	h1 {
		// font-family: National, Roboto-Light, serif;
    	font-size: 48px;
		line-height: 50px;
		font-family: Roboto-Medium;
    	font-feature-settings: 'pnum' on, 'lnum' on;
	}

	small {
		font-size: 14px;
    	line-height: 16px;
	}

	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 1em;
		margin-top: 18px;
		margin-right: 23px;
		flex-grow: 1;
	}

	li {
		font-size: 16px;
		line-height: 19px;
		padding-bottom: 6px;

		&:before {
			display: inline-block;
    		content: "-";
    		width: 1em;
    		margin-left: -1em;
		}
	}

	a {
		text-decoration: underline;
    	text-underline-position: under;
	}

	.price-card-container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.price-border {
		border-right: 1px solid #C7C7C7;
	}

}

.infra-box {
	h6,a {
		color: $infraColor;
	} 
}

.apm-box {
	h6,a {
		color: $apmColor;
	} 
}

.log-box {
	h6,a {
		color: $logColor;
	} 
}

