<div class="row company-card">
	{{ with .Site.Data.content.company }}
	<div class="row company-top-grid">
		<div class="col-4">
			{{ partial "companysquare" (dict "company" "airbnb") }}
			{{ partial "companysquare" (dict "company" "peloton") }}
		</div>
		<div class="col-8 d-flex company-quote-container" >
			<div class="row quote">
				<img src="/images/adroll-logo.png" alt="adroll">
				<p>{{ .quote }}</p>
				<ul style="list-style: none;padding-left: 0px;">
					<li>
						<h6 class="author">{{ .author }}</h6>
					</li>
					<li>
						<h6>{{ .title }}</h6>
					</li>
					<li style="padding-top:10px;">
						<a href="#">{{ .link }}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- <div class="row d-flex">
		<div class="col" style="background-color:#F5F5F5;">
			col col col col col col col col col col col col col col col col col col col col col col col col col col col col col col
		</div>
	</div> -->

	<div class="row company-bottom-grid">
		{{ partial "companysquare" (dict "company" "evernote") }}
		{{ partial "companysquare" (dict "company" "samsung") }}
		{{ partial "companysquare" (dict "company" "nginx") }}
		{{ partial "companysquare" (dict "company" "pagerduty") }}
		{{ partial "companysquare" (dict "company" "wholefoods") }}
		{{ partial "companysquare" (dict "company" "att") }}
	</div>
	{{ end }}
	
</div>