<div class="row">

	<div class="row d-flex">
		<div class="col">
			<div class="company-square airbnb">
				<img src="images/airbnb.png" alt="airbnb" srcset="">
			</div>
			<div class="company-square peloton">
				<img src="images/peloton.png" alt="peloton" srcset="">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="company-square evernote">
			<img src="images/evernote.png" alt="evernote" srcset="">
		</div>
		<div class="company-square samsung">
			<img src="images/samsung.png" alt="samsung" srcset="">
		</div>
		<div class="company-square nginx">
			<img src="images/nginx.png" alt="nginx" srcset="">
		</div>
		<div class="company-square pagerduty">
			<img src="images/pagerduty.png" alt="pagerduty" srcset="">
		</div>
		<div class="company-square wholefoods">
			<img src="images/wholefoods.png" alt="wholefoods" srcset="">
		</div>
		<div class="company-square att">
			<img src="images/att.png" alt="att" srcset="">
		</div>
	</div>
	
</div>