<div class="row company-card">
	{{ with .Site.Data.content.company }}

	<!-- Visible only on xl large-->
	<div class="row company-top-grid">
		<div class="col-lg-4">
			{{ partial "companysquare" (dict "company" "airbnb") }}
			{{ partial "companysquare" (dict "company" "peloton") }}
		</div>

		<div class="col-lg-8 quote">
			<img src="/images/adroll-logo.png" alt="adroll">
				<p>{{ .quote }}</p>
				<ul style="list-style: none;padding-left: 0px;">
					<li>
						<h6 class="author">{{ .author }}</h6>
					</li>
					<li>
						<h6>{{ .title }}</h6>
					</li>
					<li style="padding-top:10px;">
						<a href="#">{{ .link }}</a>
					</li>
				</ul>
		</div>		
	</div>

	<div class="row company-bottom-grid">
		{{ partial "companysquare" (dict "company" "evernote") }}
		{{ partial "companysquare" (dict "company" "samsung") }}
		{{ partial "companysquare" (dict "company" "nginx") }}
		{{ partial "companysquare" (dict "company" "pagerduty") }}
		{{ partial "companysquare" (dict "company" "wholefoods") }}
		{{ partial "companysquare" (dict "company" "att") }}
	</div>

	<div class="row company-quote-full">
		<div class="col quote">
			<img src="/images/adroll-logo.png" alt="adroll">
				<p>{{ .quote }}</p>
				<ul style="list-style: none;padding-left: 0px;">
					<li>
						<h6 class="author">{{ .author }}</h6>
					</li>
					<li>
						<h6>{{ .title }}</h6>
					</li>
					<li style="padding-top:10px;">
						<a href="#">{{ .link }}</a>
					</li>
				</ul>
		</div>
	</div>

	<div class="row company-bottom-grid-full">
		{{ partial "companysquare" (dict "company" "airbnb") }}
		{{ partial "companysquare" (dict "company" "peloton") }}
		{{ partial "companysquare" (dict "company" "evernote") }}
		{{ partial "companysquare" (dict "company" "samsung") }}
		{{ partial "companysquare" (dict "company" "nginx") }}
		{{ partial "companysquare" (dict "company" "pagerduty") }}
		{{ partial "companysquare" (dict "company" "wholefoods") }}
		{{ partial "companysquare" (dict "company" "att") }}
	</div>

	{{ end }}
	
</div>