<div class="row feature-container">
	<!-- <div>
		{{ partial "featurecard" . }}
		{{ partial "featurecard" . }}
		<div class="col-sm-12 col-md-12 col-xl-6 d-flex feature-card company">
			<div class="row">
				<div class="row d-flex">
					<div class="col">
						{{ partial "companysquare" . }}
						{{ partial "companysquare" . }}
					</div>
				</div>
				<div class="row d-flex" style="margin-left:0px;">
					{{ partial "companysquare" . }}
					{{ partial "companysquare" . }}
					{{ partial "companysquare" . }}
					{{ partial "companysquare" . }}
					{{ partial "companysquare" . }}
					{{ partial "companysquare" . }}	
				</div>
			</div>
		</div>
	</div>
	
	<div>
		{{ partial "featurecard" . }}
		{{ partial "observabilitycard" . }}
	</div> -->

	<div class="col-sm-12 col-md-12 col-xl-6 d-flex feature-column">
		{{ partial "featurecard" . }}
		{{ partial "featurecard" . }}
		{{ partial "companycard" . }}
	</div>
	<div class="col-sm-12 col-md-12 col-xl-6 d-flex feature-column">
		{{ partial "featurecard" . }}
		{{ partial "observabilitycard" . }}
	</div>
</div>