{{ with .Site.Data.content.footer }}
<div class="footer-container">
	<div class="row footer">
		
		<div class="col-sm-12 col-md-12 col-lg-3">
			<button class="btn btn-outline-primary"><h4>{{ .btnContent }}</h4></button>
			<p class="copyright">{{ .copyright }}</p> 
		</div>

		<div class="col-sm-12 col-md-12 col-lg-5 footer-list">
			<h3>{{ .product.title }}</h3>
			<div class="row">
				<div class="col">
					<ul>
						{{ range $index, $element := .product.items1 }}
						<li><a href="#">{{ .description }}</a></li>
						{{ end }}
					</ul>
				</div>
				<div class="col">
					<ul>
						{{ range $index, $element := .product.items2 }}
						<li><a href="#">{{ .description }}</a></li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>

		{{ range $index, $element := .sections }}
		<div class="col-sm-12 col-md-12 col-lg-2 footer-list">
			{{ partial "footerlist" . }}
		</div>
		{{ end }}
		
	</div>

	<div class="row d-flex terms-box">
		<h6>{{ .termsContent }}</h6>
	</div>
</div>

{{ end }}
