<div class="feature-item observability">
	<h6 class="observability-color">Observability</h6>
	<div class="row">
		<div class="col-sm-7 col-md-10 col-xl-10">
			<p>With turn-key integrations, Datadog seamlessly aggregates metrics and events across the full devops stack</p>
		</div>
		<div class="col-sm-5 col-md-2 col-xl-2 d-flex arrow">
			<svg width="27" height="52" viewBox="0 0 27 52" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L26.1688 26.1688L1 51.3377" stroke="black"/>
			</svg>
		</div>
	</div>
	<a href="#" class="observability-color">Read More</a>
	<div class="row">
		<div class="col-sm-12 col-md-12 col-xl-9 d-flex">
			col 1	
		</div>
		<div class="col-sm-12 col-md-12 col-xl-3 d-flex">
			col 2
		</div>
	</div>
</div>