<div class="col sidebar d-none d-lg-block">
    {{ partial "logo" .}}
    <div class="sidebar-nav">
        <ul>
            <li>
                <a href="#">product</a>
            </li>
            <li>
                <a href="#">docs</a>
            </li>
            <li>
                <a href="#">customers</a>
            </li>
            <li>
                <a href="#">about</a>
            </li>
            <li>
                <a href="#">blogs</a>
            </li>
        </ul>
    </div>
    <div class="login-btn">
        <a href="#">
            <p class="login-button-text">Login</p>
        </a>
    </div>
</div>